language: php
install:
  composer install
php:
  - "5.5"
  - "5.4"
  - "5.3"
  - "hhvm"

script:
    - mkdir -p build/logs
    - phpunit --cover-clover build/logs/clover.xml

after_script:
    - php vendor/bin/coveralls -v
